# Compiled class file
*.class

# Katalon
Libs
Plugins
settings/internal/com.kms.katalon.composer.testcase.properties

# Eclipse
bin
.classpath
.project

# JMeter
jmeter-result.csv
Include\jmeter-properties\bin\report-output
